<h3>Editing <%= @user.username %></h3>

<%= form_for(@user, :html => { :multipart => true }, url: { action: "update_profile" }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :avatar, "Avatar picture" %><br>
    <%= f.file_field :avatar %>
  </div>
  <div class="field">
    <%= f.label :user_pic, "User splash picture" %><br>
    <%= f.file_field :user_pic %>
  </div>
  <div class="actions">
    <%= f.submit "Update Profile" %>
  </div>
<% end %>
