<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<%= image_tag(@user.avatar.url(:avatar)) %><br>
<%= image_tag(@user.user_pic.url(:user_pic)) %><br>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
