<p>
  <h1><%= @user.username %></h1>
</p>

<%= image_tag(@user.avatar.url(:avatar)) %><br>
<%= image_tag(@user.user_pic.url(:user_pic)) %><br><br>

<% if @user.albums.any? %>
  <% @user.albums.each do |album| %>
    <h3><%= link_to album.title, user_album_path(@user, album) %></h3><br>
    <%= link_to image_tag(album.album_art.url(:album_art)), user_album_path(@user, album) %><br>
  <% end %>
<% else %>
  <p>This band hasn't uploaded any albums yet!</p>
<% end %>

<br>
<%= link_to 'New Album', new_user_album_path(@user) %> |
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
