<script type="text/javascript">
  window.onload = function() {
    $("[data-slider]")
      .each(function () {
        var input = $(this);
        $("<span>").addClass("output")
      })
      .bind("slider:ready slider:changed", function (event, data) {
        $(this).nextAll(".output:first").html("<p>Current Score: " + data.value + "</p>");
      });
    };
</script>

<h1>New song</h1>

<%= form_for [@user, @album, @song], :html => { :multipart => true } do |f| %>
  <% if @song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% @song.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :mp3, "Mp3 To Upload" %><br>
    <%= f.file_field :mp3 %>
  </div>
  <div class="field">
    <%= f.label :link_to_purchase %><br>
    <%= f.text_field :link_to_purchase %>
  </div>
  <div class="field">
    <%= f.label :link_to_download %><br>
    <%= f.text_field :link_to_download %>
  </div>

  <h3>Please note!</h3><br>
  <p>Each song's original scores cannot be altered beyond this point! Choose your beginning score wisely!</p><br>

  <div class="field">
    <div class="attr_description"><div>Light</div><div><strong>Mood</strong></div><div>Dark</div></div>
    <input id="song_mood" name="song[mood]" type="text" data-slider="true", data-slider-range="1, 100", data-slider-theme="volume", data-slider-step="1", data-slider-highlight="true">
    <p class="output">Current Score: (None)</p>
  </div>
  <div class="field">
    <div class="attr_description"><div>Smooth</div><div><strong>Timbre</strong></div><div>Raw</div></div>
    <input id="song_timbre" name="song[timbre]" type="text" data-slider="true", data-slider-range="1, 100", data-slider-theme="volume", data-slider-step="1", data-slider-highlight="true">
    <p class="output">Current Score: (None)</p>
  </div>
  <div class="field">
    <div class="attr_description"><div>Chill</div><div><strong>Intensity</strong></div><div>Oppressive</div></div>
    <input id="song_intensity" name="song[intensity]" type="text" data-slider="true", data-slider-range="1, 100", data-slider-theme="volume", data-slider-step="1", data-slider-highlight="true">
    <p class="output">Current Score: (None)</p>
  </div>
  <div class="field">
    <div class="attr_description"><div>Melodic</div><div><strong>Tone</strong></div><div>Rhythmic</div></div>
    <input id="song_tone" name="song[tone]" type="text" data-slider="true", data-slider-range="1, 100", data-slider-theme="volume", data-slider-step="1", data-slider-highlight="true">
    <p class="output">Current Score: (None)</p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Back', user_album_path(@user, @album) %>
