<%= form_for [@user, @album, @song], :url => "#{@album.id}/songs/#{@song.id}/vote" do |f| %>
  <% if @song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song.errors.count, "error") %> prohibited your vote from counting:</h2>

      <ul>
      <% @song.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mood, "The track's mood" %><br>
    <%= f.number_field :mood %>
  </div>
  <div class="field">
    <%= f.label :timbre, "The track's timbre" %><br>
    <%= f.number_field :timbre %>
  </div>
  <div class="field">
    <%= f.label :intensity, "The track's intensity" %><br>
    <%= f.number_field :intensity %>
  </div>
  <div class="field">
    <%= f.label :tone, "The track's tone" %><br>
    <%= f.number_field :tone %>
  </div>
  <div class="actions">
    <%= f.submit "Add My Rating!" %>
  </div>
<% end %>
