<p>
  <h1><%= @album.title %></h1>
</p>

<%= image_tag(@album.album_art.url(:album_art)) %><br><br>

<% if @album.songs.any? %>
  <% if current_user.nil? %>
    <p>Please <%= link_to 'sign in', new_user_session_path %> to access full site functionality, including voting on this album's songs!</p>
  <% end %>

  <% @album.songs.each do |song| %>
    <strong><%= @album.band.username %> - <%= song.title %></strong><br>
    <%= audio_tag(song.mp3.url, controls: true) %><br>

    <% if song.link_to_purchase? && song.link_to_download? %>
      <%= link_to 'Purchase', "http://#{song.link_to_purchase}" %> |
      <%= link_to 'Download', "http://#{song.link_to_download}" %><br>
    <% elsif song.link_to_purchase? && song.link_to_download.empty? %>
      <%= link_to 'Purchase', "http://#{song.link_to_purchase}" %><br>
    <% elsif song.link_to_download? && song.link_to_purchase.empty? %>
      <%= link_to 'Download', "http://#{song.link_to_download}" %><br>
    <% else %>
      <br>
    <% end %>

    <br><%= link_to "Edit #{song.title}", edit_user_album_song_path(@user, @album, song) %> |
    <%= link_to "Delete #{song.title}", user_album_song_path(@user, @album, song), method: :delete, data: { confirm: 'Are you sure?' } %><br><br>
  <% end %>
<% else %>
  <p>This artist hasn't uploaded any songs yet!</p>
<% end %>

<br><br>
<%= link_to 'Add New Song to Album', new_user_album_song_path(@user, @album) %> |
<%= link_to 'Edit Album Details', edit_user_album_path(@user, @album) %> |
<%= link_to 'Back', user_albums_path(@user) %>
