<p>
  <h1><%= @album.title %></h1>
</p>

<%= image_tag(@album.album_art.url(:album_art)) %><br><br>

<% if @album.songs.any? %>
  <% if current_user.nil? %>
    <p>Please <%= link_to 'sign in', new_user_session_path %> to access full site functionality, including voting on this album's songs!</p>
  <% end %>

  <%= javascript_tag do %>
    window.audioPlayer = {};
    window.volumeSlider = {};
  <% end %>
  <% ruby_track_number = 0 %>

  <% @album.songs.each do |song| %>
    <strong><%= @album.band.username %> - <%= song.title %></strong><br>
    <audio src="<%= song.mp3.url %>" id="<%= ruby_track_number %>-audioPlayer" preload="none" ></audio>
    <div id="volume_controls">
      <p class="volume_label_class" id="<%= ruby_track_number %>-volume_label"><strong>Volume: 100</strong></p>
      <input class="volume_slider_class" id="<%= ruby_track_number %>-volumeSlider" type="text" data-slider="true", data-slider-range="0.00, 1.00", data-slider-theme="volume", data-slider-step="0.01", data-slider-highlight="true", value="1.00">
    </div>
    <script type="text/javascript">
      audioPlayer[<%= ruby_track_number %>] = document.getElementById("<%= ruby_track_number %>-audioPlayer");
      volumeSlider[<%= ruby_track_number %>] = document.getElementById("<%= ruby_track_number %>-volumeSlider");
      $("#<%= ruby_track_number %>-volumeSlider").bind("slider:ready slider:changed", function (event, data) {
        document.getElementById("<%= ruby_track_number %>-audioPlayer").volume = document.getElementById("<%= ruby_track_number %>-volumeSlider").value;
      });
      $("#<%= ruby_track_number %>-volumeSlider").bind("slider:changed", function (event, data) {
        document.getElementById("<%= ruby_track_number %>-volume_label").innerHTML = "<strong>Volume: " + Math.floor(volumeSlider[<%= ruby_track_number %>].value * 100) + "</strong>";
      });
    </script>
    <% ruby_track_number += 1 %>
    <% if song.link_to_purchase? && song.link_to_download? %>
      <%= link_to 'Purchase', "http://#{song.link_to_purchase}" %> |
      <%= link_to 'Download', "http://#{song.link_to_download}" %><br>
    <% elsif song.link_to_purchase? && song.link_to_download.empty? %>
      <%= link_to 'Purchase', "http://#{song.link_to_purchase}" %><br>
    <% elsif song.link_to_download? && song.link_to_purchase.empty? %>
      <%= link_to 'Download', "http://#{song.link_to_download}" %><br>
    <% else %>
    <% end %>
    <% if current_user && policy(@album).edit? %>
      <%= link_to "Edit #{song.title}", edit_user_album_song_path(@user, @album, song) %> |
      <%= link_to "Delete #{song.title}", user_album_song_path(@user, @album, song), method: :delete, data: { confirm: 'Are you sure?' } %><br><br>
    <% end %>
      <br>

  <% end %>
<% else %>
  <p>The artist hasn't uploaded any songs to this album yet!</p>
<% end %>

<br><br>

<% if current_user && policy(@album).edit? %>
  <%= link_to 'Add New Song to Album', new_user_album_song_path(@user, @album) %> |
  <%= link_to 'Edit Album Details', edit_user_album_path(@user, @album) %> |
<% end %>
<%= link_to 'Back', user_albums_path(@user) %>
