<h1>Editing playlist</h1>

<%= render 'form' %>

<% if current_user.role == "band" %>
  <%= link_to 'Show', user_playlist_path(@user, @playlist) %> |
  <%= link_to 'Back', user_playlists_path(@user) %>
<% else %>
  <%= link_to 'Show', "/users/#{current_user.to_param}/playlists/#{@playlist.id}" %>
  <%= link_to 'Back', "/users/#{current_user.to_param}/playlists" %>
<% end %>
