<div id="playlists_list">
  <h1>Listing playlists</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Mood</th>
        <th>Timbre</th>
        <th>Intensity</th>
        <th>Tone</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @playlists.each do |playlist| %>
        <tr>
          <td><%= playlist.name %></td>
          <td><%= playlist.mood %></td>
          <td><%= playlist.timbre %></td>
          <td><%= playlist.intensity %></td>
          <td><%= playlist.tone %></td>
          <td><%= link_to_modal 'Show', user_playlist_path(@user, playlist) %></td>
          <td><%= link_to_modal 'Edit', edit_user_playlist_path(@user, playlist) %></td>
          <td><%= link_to 'Destroy', user_playlist_path(@user, playlist), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div id="favorites_list">
  <h1><%= 'Your Favorites <3' %></h1>
  <% if current_user.favorites.any? %>
    <% current_user.favorites.each do |song| %>
      <% @song = Song.find(song) %>
      <% @album = Album.find(@song.album_id) %>
      <% @band = User.find(@album.user_id) %>
      <strong><%= @band.username %></strong> - <strong><%= @song.title %></strong><br>
      <%= audio_tag(Song.find(song).mp3.url, controls: true) %><br>

      <% if Song.find(song).link_to_purchase? && Song.find(song).link_to_download? %>
        <%= link_to 'Purchase', "http://#{Song.find(song).link_to_purchase}" %> |
        <%= link_to 'Download', "http://#{Song.find(song).link_to_download}" %><br>
      <% elsif Song.find(song).link_to_purchase? && Song.find(song).link_to_download.empty? %>
        <%= link_to 'Purchase', "http://#{Song.find(song).link_to_purchase}" %><br>
      <% elsif Song.find(song).link_to_download? && Song.find(song).link_to_purchase.empty? %>
        <%= link_to 'Download', "http://#{Song.find(song).link_to_download}" %><br>
      <% else %>
        <br>
      <% end %>

      <%= link_to 'Remove from favorites', delete_favorite_user_album_song_path(@band, @album, @song), method: :put, data: { confirm: 'Are you sure?' } %>

      <br>
    <% end %>
  <% else %>
    <p>It looks like you don't have any favorites. Get crackin' and they'll show up here!</p>
  <% end %>
</div>

<br>

<div id="playlist_bottom_control">
  <%= link_to_modal 'New Playlist', new_user_playlist_path(@user) %>
</div>
