<div id="playlists_list">
  <h1>Listing playlists</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Mood</th>
        <th>Timbre</th>
        <th>Intensity</th>
        <th>Tone</th>
      </tr>
    </thead>

    <tbody>
      <% @playlists.each do |playlist| %>
        <tr>
          <td><%= playlist.name %></td>
          <td><%= playlist.mood %></td>
          <td><%= playlist.timbre %></td>
          <td><%= playlist.intensity %></td>
          <td><%= playlist.tone %></td>
        <% if User.find(playlist.user_id).role == "band" %>
          <td><%= link_to 'Play', user_playlist_path(User.find(playlist.user_id), playlist), data: {"skip-pjax" => true} %></td>
          <td><%= link_to 'View Songs', list_user_playlist_path(User.find(playlist.user_id), playlist) %></td>
          <% if current_user && policy(playlist).edit? %>
            <td><%= link_to 'Edit', edit_user_playlist_path(@user, playlist) %></td>
            <td><%= link_to 'Destroy', user_playlist_path(@user, playlist), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        <% else %>
          <td><%= link_to 'Play', "/users/#{User.find(playlist.user_id).to_param}/playlists/#{playlist.id}", data: {"skip-pjax" => true} %></td>
          <td><%= link_to 'View Songs', "/users/#{User.find(playlist.user_id).to_param}/playlists/#{playlist.id}/list" %></td>
          <% if current_user && policy(playlist).edit? %>
            <td><%= link_to 'Edit', "/users/#{current_user.to_param}/playlists/#{playlist.id}/edit" %></td>
            <td><%= link_to 'Destroy', "/users/#{current_user.to_param}/playlists/#{playlist.id}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<div id="playlist_bottom_control">
  <% if current_user && current_user.id == @user.id %>
    <% if current_user.role == "band" %>
      <%= link_to 'New Playlist', new_user_playlist_path(@user) %>
    <% else %>
      <%= link_to 'New Playlist', "/users/#{current_user.to_param}/playlists/new" %>
    <% end %>
  <% else %>
    <% if current_user && current_user.role == "band" %>
      <%= link_to 'Back to My Playlists', user_playlists_path(current_user) %>
    <% elsif current_user && current_user.role == "personal" %>
      <%= link_to 'Back to My Playlists', "/users/#{current_user.to_param}/playlists" %>
    <% end %>
  <% end %>
</div>
