<div id="playlists_list">
  <h1>Listing playlists</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Mood</th>
        <th>Timbre</th>
        <th>Intensity</th>
        <th>Tone</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @playlists.each do |playlist| %>
        <tr>
          <td><%= playlist.name %></td>
          <td><%= playlist.mood %></td>
          <td><%= playlist.timbre %></td>
          <td><%= playlist.intensity %></td>
          <td><%= playlist.tone %></td>
          <td><%= link_to 'Play', user_playlist_path(@user, playlist), data: {"skip-pjax" => true} %></td>
          <td><%= link_to 'View Songs', list_user_playlist_path(@user, playlist) %></td>
          <td><%= link_to 'Edit', edit_user_playlist_path(@user, playlist) %></td>
          <td><%= link_to 'Destroy', user_playlist_path(@user, playlist), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<div id="playlist_bottom_control">
  <%= link_to 'New Playlist', new_user_playlist_path(@user) %>
</div>
