<h1>New playlist</h1>

<%= form_for [@user, @playlist] do |f| %>
  <% if @playlist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@playlist.errors.count, "error") %> prohibited this playlist from being saved:</h2>

      <ul>
      <% @playlist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :mood %><br>
    <%= f.number_field :mood %>
  </div>
  <div class="field">
    <%= f.label :timbre %><br>
    <%= f.number_field :timbre %>
  </div>
  <div class="field">
    <%= f.label :intensity %><br>
    <%= f.number_field :intensity %>
  </div>
  <div class="field">
    <%= f.label :tone %><br>
    <%= f.number_field :tone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Back', user_playlists_path(@user) %>
