<p>
  <strong>Name:</strong>
  <%= @playlist.name %>
</p>

<!-- Declaring variables for Javascript playlist functions -->

<% playlist = @playlist.songs_list.shuffle %>
<% hash_of_song_urls = {} %>
<% hash_of_song_artists = {} %>
<% hash_of_song_titles = {} %>
<% counter = 0 %>


<% playlist.each do |song| %>
  <% @song = Song.find(song) %>
  <% @album = Album.find(@song.album_id) %>
  <% @band = User.find(@album.user_id) %>
  <% counter += 1 %>
  <% hash_of_song_urls[counter] = @song.mp3.url %>
  <% hash_of_song_artists[counter] = @band.username %>
  <% hash_of_song_titles[counter] = @song.title %>
<% end %>

<%= javascript_tag do %>
  window.tracklist = <%=raw hash_of_song_urls.to_json %>;
  window.song_artists = <%=raw hash_of_song_artists.to_json %>;
  window.song_titles = <%=raw hash_of_song_titles.to_json %>;
<% end %>

<!-- End Ruby => JS variable declarations -->
<!-- Begin JS functions for playlist autoplay/stream -->

<script type="text/javascript">
  var song = 1;
window.onload = function(){
  var audioPlayer = document.getElementById('audioPlayer');
  audioPlayer.addEventListener('ended', function(e){
    song = song + 1;
    audioPlayer.src = tracklist[song];
    $('#song_info').html("<h3><strong>" + song_artists[song] + " - " + song_titles[song] + "</strong></h3>");
    $('#track_count_label').html("<p><strong>Currently Playing: Track " + song + "</strong></p>");
  });
  $('#previous_song').click(function(){
    song = song - 1;
    audioPlayer.src = tracklist[song];
    $('#song_info').html("<h3><strong> " + song_artists[song] + " - " + song_titles[song] + " </strong></h3>");
    $('#track_count_label').html("<p><strong>Currently Playing: Track " + song + "</strong></p>");
  });
  $('#next_song').click(function() {
    song = song + 1;
    audioPlayer.src = tracklist[song];
    $('#song_info').html("<h3><strong> " + song_artists[song] + " - " + song_titles[song] + " </strong></h3>");
    $('#track_count_label').html("<p><strong>Currently Playing: Track " + song + "</strong></p>");
  });
};
</script>

<div id="currently_playing">
  <% @first_song = Song.find(playlist[0]) %>
  <% @first_album = Album.find(@first_song.album_id) %>
  <% @first_band = User.find(@first_album.user_id) %>
  <h3 id="song_info"><strong><%= @first_band.username %> - <%= @first_song.title %></strong></h3>
  <p id="track_count_label"><strong>Currently Playing: Track 1</strong></p>
</div>

<%= audio_tag(Song.find(playlist[0]).mp3.url, controls: true, autoplay: true, autobuffer: true, id: 'audioPlayer') %><br>
<div class="song_box" id="previous_song">Previous song</div>
<div class="song_box" id="next_song">Next song</div><br><br>

<% track_number = 0 %>
<% playlist.each do |song| %>
  <% @song = Song.find(song) %>
  <% @album = Album.find(@song.album_id) %>
  <% @band = User.find(@album.user_id) %>
  <% track_number+=1 %>

  <strong><%= "#{track_number}" %> ) <%= @band.username %> - <%= @song.title %></strong><br>

  <% if @playlist.whitelist.include? song %>
    <%= image_tag('glyphicons/png/glyphicons_012_heart.png', title: "Saved to this playlist!", id: "glyphicon") %>
  <% elsif @playlist.whitelist.exclude? song %>
    <%= link_to image_tag('glyphicons/png/glyphicons_019_heart_empty.png'), whitelist_user_playlist_path(@user, @playlist, :song_id => song), method: :put, title: "Save this song to my playlist!", id: "glyphicon" %>
  <% end %>

  <%= link_to image_tag('glyphicons/png/glyphicons_344_thumbs_down.png'), blacklist_user_playlist_path(@user, @playlist, :song_id => song), method: :put, title: "Blacklist this song from my playlist!", id: "glyphicon" %>

  <% if @song.link_to_purchase? && @song.link_to_download? %>
    <%= link_to image_tag('glyphicons/png/glyphicons_227_usd.png'), "http://#{@song.link_to_purchase}", title: "Purchase this song!", id: "glyphicon" %>
    <%= link_to image_tag('glyphicons/png/glyphicons_181_download_alt.png'), "http://#{@song.link_to_download}", title: "Download this song!", id: "glyphicon" %><br>
  <% elsif @song.link_to_purchase? && @song.link_to_download.empty? %>
    <%= link_to image_tag('glyphicons/png/glyphicons_227_usd.png'), "http://#{@song.link_to_purchase}", title: "Purchase this song!", id: "glyphicon" %><br>
  <% elsif @song.link_to_download? && @song.link_to_purchase.empty? %>
    <%= link_to image_tag('glyphicons/png/glyphicons_181_download_alt.png'), "http://#{@song.link_to_download}", title: "Download this song!", id: "glyphicon" %><br>
  <% else %>
    <br>
  <% end %><br>

<% end %>

<%= link_to_modal 'Review Favorited and Blacklisted Songs', user_playlist_view_blacklist_path(@user, @playlist) %> |
<%= link_to 'Edit Attributes and Scope', edit_user_playlist_path(@user, @playlist) %> |
<%= link_to 'Back', user_playlists_path(@user) %>
