<p>
  <strong>Name:</strong>
  <%= @playlist.name %>
</p>

<!-- Declaring variables for Javascript playlist functions -->

<% hash_of_song_urls = {} %>
<% hash_of_song_artists = {} %>
<% hash_of_song_titles = {} %>
<% counter = 0 %>


<% @playlist.songs_list.each do |song| %>
  <% counter += 1 %>
  <% hash_of_song_urls[counter] = song.mp3.url %>
  <% hash_of_song_artists[counter] = song.album.band.username %>
  <% hash_of_song_titles[counter] = song.title %>
<% end %>

<%= javascript_tag do %>
  window.tracklist = <%=raw hash_of_song_urls.to_json %>;
  window.song_artists = <%=raw hash_of_song_artists.to_json %>;
  window.song_titles = <%=raw hash_of_song_titles.to_json %>;
<% end %>

<!-- End Ruby => JS variable declarations -->
<!-- Begin JS functions for playlist autoplay/stream -->

<script type="text/javascript">
  var song = 1;
window.onload = function(){
  var audioPlayer = document.getElementById('audioPlayer');
  audioPlayer.src = tracklist[song];
  $('#song_info').html("<h3><strong>" + song_artists[song] + " - " + song_titles[song] + "</strong></h3>");
  $('#track_count_label').html("<p><strong>Currently Playing: Track " + song + "</strong></p>");
  audioPlayer.addEventListener('ended', function(e){
    song = song + 1;
    audioPlayer.src = tracklist[song];
    $('#song_info').html("<h3><strong>" + song_artists[song] + " - " + song_titles[song] + "</strong></h3>");
    $('#track_count_label').html("<p><strong>Currently Playing: Track " + song + "</strong></p>");
  });
  $('#previous_song').click(function(){
    song = song - 1;
    audioPlayer.src = tracklist[song];
    $('#song_info').html("<h3><strong> " + song_artists[song] + " - " + song_titles[song] + " </strong></h3>");
    $('#track_count_label').html("<p><strong>Currently Playing: Track " + song + "</strong></p>");
  });
  $('#remove_song').click(function() {
    song = song + 1;
    audioPlayer.src = tracklist[song];
    $('#song_info').html("<h3><strong> " + song_artists[song] + " - " + song_titles[song] + " </strong></h3>");
    $('#track_count_label').html("<p><strong>Currently Playing: Track " + song + "</strong></p>");
  })
  $('#next_song').click(function() {
    song = song + 1;
    audioPlayer.src = tracklist[song];
    $('#song_info').html("<h3><strong> " + song_artists[song] + " - " + song_titles[song] + " </strong></h3>");
    $('#track_count_label').html("<p><strong>Currently Playing: Track " + song + "</strong></p>");
  });
  audioPlayer.addEventListener('playing', function(e){
    $('#audio_container').css("display", "block");
  });
};
</script>

<% track_number = 0 %>
<% @playlist.songs_list.each do |song| %>
  <% track_number+=1 %>

  <strong><%= "#{track_number}" %> ) <%= song.album.band.username %> - <%= song.title %></strong><br>

  <% if @playlist.whitelist.include? song.id %>
    <%= image_tag('glyphicons/png/glyphicons_012_heart.png', title: "Saved to this playlist!", class: "glyphicons") %>
  <% elsif @playlist.whitelist.exclude? song.id %>
    <%= link_to image_tag('glyphicons/png/glyphicons_019_heart_empty.png'), whitelist_user_playlist_path(@user, @playlist, :song_id => song.id), method: :put, title: "Save this song to my playlist!", class: "glyphicons", target: '_blank', data: {"skip-pjax" => true}  %>
  <% end %>

  <%= link_to image_tag('glyphicons/png/glyphicons_344_thumbs_down.png'), blacklist_user_playlist_path(@user, @playlist, :song_id => song.id), method: :put, title: "Blacklist this song from my playlist!", class: "glyphicons", target: "_blank", data: {"skip-pjax" => true}, id: "remove_song" %>

  <% if song.link_to_purchase? && song.link_to_download? %>
    <%= link_to image_tag('glyphicons/png/glyphicons_227_usd.png'), "http://#{song.link_to_purchase}", title: "Purchase this song!", class: "glyphicons", target: '_blank' %>
    <%= link_to image_tag('glyphicons/png/glyphicons_181_download_alt.png'), "http://#{song.link_to_download}", title: "Download this song!", class: "glyphicons", target: '_blank' %><br>
  <% elsif song.link_to_purchase? && song.link_to_download.empty? %>
    <%= link_to image_tag('glyphicons/png/glyphicons_227_usd.png'), "http://#{song.link_to_purchase}", title: "Purchase this song!", class: "glyphicons", target: '_blank' %><br>
  <% elsif song.link_to_download? && song.link_to_purchase.empty? %>
    <%= link_to image_tag('glyphicons/png/glyphicons_181_download_alt.png'), "http://#{song.link_to_download}", title: "Download this song!", class: "glyphicons", target: '_blank' %><br>
  <% else %>
    <br>
  <% end %><br>

<% end %>

<%= link_to 'Review Favorited and Blacklisted Songs', view_blacklist_user_playlist_path(@user, @playlist), target: '_blank', data: {"skip-pjax" => true} %> |
<%= link_to 'Edit Attributes and Scope', edit_user_playlist_path(@user, @playlist) %> |
<%= link_to 'Back', user_playlists_path(@user) %>
