<p>
  <strong>Name:</strong>
  <%= @playlist.name %>
</p>

<% playlist = @playlist.songs_list.shuffle %>
<% hash_of_song_urls = {} %>
<% counter = 0 %>

<% playlist.each do |song| %>
  <% counter += 1 %>
  <% hash_of_song_urls[counter] = Song.find(song).mp3.url %>
<% end %>

<%= javascript_tag do %>
  window.tracklist = <%=raw hash_of_song_urls.to_json %>;
<% end %>

<script type="text/javascript">
  var song = 1;
window.onload = function(){
  var audioPlayer = document.getElementById('audioPlayer');
  audioPlayer.addEventListener('ended', function(e){
    song = song + 1;
    audioPlayer.src = tracklist[song];
    $('#currently_playing').html("<p><strong>Currently Playing: Track " + song + "</strong></p>");
  });
  $('#previous_song').click(function(){
    song = song - 1;
    audioPlayer.src = tracklist[song];
    $('#currently_playing').html("<p><strong>Currently Playing: Track " + song + "</strong></p>");
  });
  $('#next_song').click(function() {
    song = song + 1;
    audioPlayer.src = tracklist[song];
    $('#currently_playing').html("<p><strong>Currently Playing: Track " + song + "</strong></p>");
  });
};
</script>

<div id="currently_playing"><p><strong>Currently Playing: Track 1</strong></p></div>
<%= audio_tag(Song.find(playlist[0]).mp3.url, controls: true, autoplay: true, autobuffer: true, id: 'audioPlayer') %><br>
<div class="song_box" id="previous_song">Previous song</div>
<div class="song_box" id="next_song">Next song</div><br>

<% track_number = 0 %>
<% playlist.each do |song| %>

  <% @song = Song.find(song) %>
  <% @album = Album.find(@song.album_id) %>
  <% @band = User.find(@album.user_id) %>
  <% track_number+=1 %>

  <h3><%= "Track #{track_number}" %></h3>
  <strong><%= @band.username %></strong> - <strong><%= @song.title %></strong><br>

  <% if @playlist.whitelist.include? song %>
    <%= 'Favorited! <3' %>
  <% elsif @playlist.whitelist.exclude? song %>
    <%= link_to 'Save this song to my playlist!', whitelist_user_playlist_path(@user, @playlist, :song_id => song), method: :put %>
  <% end %> | <%= link_to 'Take this song off my playlist forever!', blacklist_user_playlist_path(@user, @playlist, :song_id => song), method: :put %><br>

  <% if @song.link_to_purchase? && @song.link_to_download? %>
    <%= link_to 'Purchase', "http://#{@song.link_to_purchase}" %> |
    <%= link_to 'Download', "http://#{@song.link_to_download}" %><br>
  <% elsif @song.link_to_purchase? && @song.link_to_download.empty? %>
    <%= link_to 'Purchase', "http://#{@song.link_to_purchase}" %><br>
  <% elsif @song.link_to_download? && @song.link_to_purchase.empty? %>
    <%= link_to 'Download', "http://#{@song.link_to_download}" %><br>
  <% else %>
    <br>
  <% end %><br>

<% end %>

<%= link_to_modal 'Review Favorited and Blacklisted Songs', user_playlist_view_blacklist_path(@user, @playlist) %> |
<%= link_to 'Edit Attributes and Scope', edit_user_playlist_path(@user, @playlist) %> |
<%= link_to 'Back', user_playlists_path(@user) %>
