<p>
  <strong>Name:</strong>
  <%= @playlist.name %>
</p>

<% @playlist.songs_list.each do |song| %>
  <% @song = Song.find(song) %>
  <% @album = Album.find(@song.album_id) %>
  <% @band = User.find(@album.user_id) %>
  <strong><%= @band.username %></strong> - <strong><%= @song.title %></strong><br>
  <% if song == @playlist.songs_list.first %>
    <%= audio_tag(@song.mp3.url, controls: true, autoplay: true) %><br>
  <% else %>
    <%= audio_tag(@song.mp3.url, controls: true) %><br>
  <% end %>

  <% if @playlist.whitelist.include? song %>
    <%= 'Favorited! <3' %>
  <% elsif @playlist.whitelist.exclude? song %>
    <%= link_to 'Save this song to my playlist!', whitelist_user_playlist_path(@user, @playlist, :song_id => song), method: :put %>
  <% end %> | <%= link_to 'Take this song off my playlist forever!', blacklist_user_playlist_path(@user, @playlist, :song_id => song), method: :put %><br>

  <% if @song.link_to_purchase? && @song.link_to_download? %>
    <%= link_to 'Purchase', "http://#{@song.link_to_purchase}" %> |
    <%= link_to 'Download', "http://#{@song.link_to_download}" %><br>
  <% elsif @song.link_to_purchase? && @song.link_to_download.empty? %>
    <%= link_to 'Purchase', "http://#{@song.link_to_purchase}" %><br>
  <% elsif @song.link_to_download? && @song.link_to_purchase.empty? %>
    <%= link_to 'Download', "http://#{@song.link_to_download}" %><br>
  <% else %>
    <br>
  <% end %><br>

<% end %>

<%= link_to 'Edit', edit_user_playlist_path(@user, @playlist) %> |
<%= link_to_modal 'Review Blacklisted Songs', user_playlist_view_blacklist_path(@user, @playlist) %> |
<%= link_to 'Back', user_playlists_path(@user) %>
