<script type="text/javascript">
  window.onload = function() {
    $("[data-slider]")
      .each(function () {
        var input = $(this);
        $("<span>").addClass("output")
      })
      .bind("slider:ready slider:changed", function (event, data) {
        $(this).nextAll(".output:first").html("<p>Current Score: " + data.value + "</p>");
      });
    };
</script>

<h1>Try out Auracle!</h1>

<%= form_for @playlist, url: { action: "trial_create" }  do |f| %>
  <% if @playlist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@playlist.errors.count, "error") %> prohibited this playlist from being saved:</h2>

      <ul>
      <% @playlist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="attr_description"><div>Light</div><div><strong>Mood</strong></div><div>Dark</div></div>
    <input id="playlist_mood" name="playlist[mood]" type="text" data-slider="true", data-slider-range="1, 100", data-slider-theme="volume", data-slider-step="1", data-slider-highlight="true">
    <p class="output">Current Score: (None)</p>
    <%= check_box("playlist", "mood", {}, "0", nil) %> I don't care about how light or dark the mood of the songs are.
  </div>
  <div class="field">
    <div class="attr_description"><div>Smooth</div><div><strong>Timbre</strong></div><div>Raw</div></div>
    <input id="playlist_timbre" name="playlist[timbre]" type="text" data-slider="true", data-slider-range="1, 100", data-slider-theme="volume", data-slider-step="1", data-slider-highlight="true">
    <p class="output">Current Score: (None)</p>
    <%= check_box("playlist", "timbre", {}, "0", nil) %> I don't care about whether the songs are smooth or raw sounding.
  </div>
  <div class="field">
    <div class="attr_description"><div>Chill</div><div><strong>Intensity</strong></div><div>Oppressive</div></div>
    <input id="playlist_intensity" name="playlist[intensity]" type="text" data-slider="true", data-slider-range="1, 100", data-slider-theme="volume", data-slider-step="1", data-slider-highlight="true">
    <p class="output">Current Score: (None)</p>
    <%= check_box("playlist", "intensity", {}, "0", nil) %> I don't care about how intense the songs are.
  </div>
  <div class="field">
    <div class="attr_description"><div>Melodic</div><div><strong>Tone</strong></div><div>Rhythmic</div></div>
    <input id="playlist_tone" name="playlist[tone]" type="text" data-slider="true", data-slider-range="1, 100", data-slider-theme="volume", data-slider-step="1", data-slider-highlight="true">
    <p class="output">Current Score: (None)</p>
    <%= check_box("playlist", "tone", {}, "0", nil) %> I don't care about the balance between melodic and rhythmic elements.
  </div>
  <div class="field">
    <%= f.label :scope, "How expansive do you want the search results?" %><br>
    <%= f.radio_button(:scope, "strict") %> Strict<br>
    <%= f.radio_button(:scope, "loose") %> Loose<br>
    <%= f.radio_button(:scope, "expansive") %> Expansive<br>
  </div>
  <%= f.hidden_field :name, value: "Guest Playlist" %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
