<h1>Try out Auracle!</h1>

<%= form_for @playlist, url: { action: "trial_create" }  do |f| %>
  <% if @playlist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@playlist.errors.count, "error") %> prohibited this playlist from being saved:</h2>

      <ul>
      <% @playlist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mood %><br>
    <input id="playlist_mood" name="playlist[mood]" type="text" data-slider="true", data-slider-range="1, 100", data-slider-theme="volume", data-slider-step="1">
  </div>
  <div class="field">
    <%= f.label :timbre %><br>
    <input id="playlist_timbre" name="playlist[timbre]" type="text" data-slider="true", data-slider-range="1, 100", data-slider-theme="volume", data-slider-step="1">
  </div>
  <div class="field">
    <%= f.label :intensity %><br>
    <input id="playlist_intensity" name="playlist[intensity]" type="text" data-slider="true", data-slider-range="1, 100", data-slider-theme="volume", data-slider-step="1">
  </div>
  <div class="field">
    <%= f.label :tone %><br>
    <input id="playlist_tone" name="playlist[tone]" type="text" data-slider="true", data-slider-range="1, 100", data-slider-theme="volume", data-slider-step="1">
  </div>
  <div class="field">
    <%= f.label :scope, "How expansive do you want the search results?" %><br>
    <%= f.radio_button(:scope, "strict") %> Strict<br>
    <%= f.radio_button(:scope, "loose") %> Loose<br>
    <%= f.radio_button(:scope, "expansive") %> Expansive<br>
  </div>
  <%= f.hidden_field :name, value: "Guest Playlist" %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


