<h3>Here are your favorited songs for <%= @playlist.name %></h3>

<% if [0] == @playlist.whitelist %>
  <p>You don't have any favorites set for this playlist yet!</p>
<% else %>
  <% @playlist.whitelist[1..-1].each do |song| %>
    <% @song = Song.find(song) %>

    <%= @song.album.band.username %> - <%= @song.title %><br>
    <% if current_user.role == "band" %>
      <%= link_to 'Remove from favorites', unwhitelist_user_playlist_path(@user, @playlist, :song_id => song), method: :put %><br><br>
    <% else %>
      <%= link_to 'Remove from favorites', "/users/#{current_user.to_param}/playlists/#{@playlist.id}/unwhitelist?song_id=#{song}", method: :put %><br><br>
    <% end %>
  <% end %>
<% end %>

<h3>Here's the blacklist for the playlist as well</h3>

<% if [0] == @playlist.blacklist %>
  <p>You haven't banhammered any songs from this playlist yet!</p>
<% else %>
  <% @playlist.blacklist[1..-1].each do |song| %>
    <% unless @playlist.whitelist.include?(song) %>
      <% @song = Song.find(song) %>

      <%= @song.album.band.username %> - <%= @song.title %><br>
      <% if current_user.role == "band" %>
        <%= link_to 'Remove from blacklist', unblacklist_user_playlist_path(@user, @playlist, :song_id => song), method: :put %><br><br>
      <% else %>
        <%= link_to 'Remove from blacklist', "/users/#{current_user.to_param}/playlists/#{@playlist.id}/unblacklist?song_id=#{song}", method: :put %><br><br>
      <% end %>
    <% end %>
  <% end %>
<% end %>
