<h3>Here are your favorited songs for <%= @playlist.name %></h3>

<% if @playlist.whitelist.empty? %>
  <p>You don't have any favorites set for this playlist yet!</p>
<% else %>
  <% @playlist.whitelist.each do |song| %>
    <% @song = Song.find(song) %>

    <%= @song.album.band.username %> - <%= @song.title %><br>
    <%= link_to 'Remove from favorites', unwhitelist_user_playlist_path(@user, @playlist, :song_id => song), method: :put %><br><br>
  <% end %>
<% end %>

<h3>Here's the blacklist for the playlist as well</h3>

<% if @playlist.blacklist.empty? %>
  <p>You haven't banhammered any songs from this playlist yet!</p>
<% else %>
  <% @playlist.blacklist.each do |song| %>
    <% @song = Song.find(song) %>

    <%= @song.album.band.username %> - <%= @song.title %><br>
    <%= link_to 'Remove from blacklist', unblacklist_user_playlist_path(@user, @playlist, :song_id => song), method: :put %><br><br>
  <% end %>
<% end %>
