<nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Auracle</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to 'What is Auracle?', '/about' %></li>
            <li><%= link_to 'Explore Artists', users_path %></li>
            <% if current_user && current_user.role == "band" %>
              <li><%= link_to 'Manage My Albums', user_albums_path(current_user) %></li>
              <li><%= link_to "#{current_user.username}'s Artist Profile", user_path(current_user) %></li>
              <li><%= link_to 'My Playlists', user_playlists_path(current_user) %></li>
            <% elsif current_user && current_user.role == "personal" %>
              <li><%= link_to "#{current_user.username}'s Profile", profile_user_path(current_user) %></li>
              <li><%= link_to 'My Playlists', "/users/#{current_user.to_param}/playlists" %></li>
            <% end %>
            <% if current_user %>
              <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
            <% elsif @user.nil? || @user.username == "Guest" %>
              <li><%= link_to "Make a playlist to try out!", playlists_try_path %></li>
              <li><%= link_to 'Sign In', new_user_session_path %></li>
              <li><%= link_to 'Sign Up', new_user_registration_path %></li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
